.occupiedDay {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: #8b5cf6;
    border-radius: 9999px;
  }
}
